@use "../Partials/globals" as *;
@use "../Partials/variables" as *;
@use "../Partials/breakpoints" as *;
.Background {
  @include tablet {
    height: 68vw;
    // display: flex;
    // align-items: center;
    // justify-content: end;
    overflow: hidden;
    background-color: $BrightYellow;
    background-image: url(../Assets/abstract-horizontal-background-with-colorful-waves-in-yellow-orange-and-brown-colors-trendy-illustra.svg);
    display: flex;
    justify-content: space-between;
  }
}
