$BrightYellow: #fecb34;
$DarkYellow: #ed9f2a;
$LightYellow: #ffd65c;
$Blackish: #010200;
$LightGrey: #eeeeee;
$MediumGrey: #e6e6e6;
$LightPink: #ffd6e2;
$LightBlue: #d6ebff;
$YellowAccent: #f4c553;
$DarkGrey: #818181;
